/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/fonts';
@import './utils/variables';
@import './base/base';
@import './components/order-btn';
@import './components/title';

@import './layout/header';
@import './layout/hero';
@import './layout/offers';

@import './layout/footer';

// body {
//   background-color: tomato;
// }
// div {
//   margin-left: auto;
//   margin-right: auto;
//   padding: 0;
//   max-width: 1600px;
//   height: 600px;
//   background-image: linear-gradient(to right, rgba(0, 24, 53, 0.8), rgba(0, 29, 64, 0)),
//     linear-gradient(to right, rgba(0, 24, 53, 0.8), rgba(0, 29, 64, 0)),
//     url(../images/deckstope/hero_bg2@2x.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   background-color: #c4c4c4;
//   text-align: center;
// }
