<header class="header">
  <div class="container header__container">
    <a href="#" class="logo header__logo link">
      <img src="./images/logo.svg" alt="Логотип Алира-Транс" class="logo__img" />
      <p class="logo__text">АЛІРА-ТРАНС</p>
    </a>
    <nav class="site-nav header__site-nav">
      <ul class="site-nav__list list">
        <li class="site-nav__item"><a href="#" class="site-nav__link link">Наші послуги</a></li>
        <li class="site-nav__item"><a href="#" class="site-nav__link link">Про компанію</a></li>
        <li class="site-nav__item"><a href="#" class="site-nav__link link">Переваги</a></li>
        <li class="site-nav__item"><a href="#" class="site-nav__link link">Як ми працюємо</a></li>
      </ul>
    </nav>
    <div class="header__contact">
      <ul class="header__contact-list list">
        <li class="header__contact-item">
          <a href="tel:+380631389841" class="header__contact-link link">+38 (063) 13-89-841</a>
        </li>
        <li class="header__contact-item">
          <a href="tel:+380503720059" class="header__contact-link link">+38 (050) 37-20-059</a>
        </li>
      </ul>
    </div>
<button class="order-btn header__btn" type="button">Замовити дзвінок</button>
  </div>
</header>
