.order-btn {
  display: inline-block;

  width: 100%;
  height: 100%;
  border-radius: 100px;
  cursor: pointer;

  background: linear-gradient(
    92.86deg,
    $start-gradient-color 0%,
    $end-gradient-color 51%,
    $start-gradient-color 100%
  );
  color: #ffffff;
  transition: background-position $main-duration $timing-function;
  background-size: 200% auto;
  &:hover,
  :focus {
    background-position: right center;
  }
}
