.header {
  min-height: 65px;
  display: flex;
  align-items: center;
  &__container {
    display: flex;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-right: 55px;
  }
  &__contact {
    margin-right: 22px;
  }
  &__contact-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;

    color: #333333;
    transition: color $main-duration $timing-function;

    &:hover,
    :focus {
      color: $end-gradient-color;
    }
  }
  &__btn {
    width: 170px;
    height: 36px;
    font-weight: 600;
    font-size: 14px;
    line-height: 35px;
  }
}
.site-nav {
  margin-right: 55px;
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 25px;
  }
  &__link {
    position: relative;
    font-weight: normal;
    font-size: 16px;
    line-height: 2.2;

    color: #333333;
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -5px;
      width: 0%;
      height: 4px;
      border-radius: 2px;
      background: linear-gradient((90.04deg, $start-gradient-color, $end-gradient-color 100%));
      cursor: pointer;
      transform: translateX(0);
      opacity: 0;
      transition: width $main-duration $timing-function, opacity $main-duration $timing-function;
    }
    &:hover::after,
    :focus::after {
      width: 100%;
      opacity: 1;
    }
  }
}
.logo {
  &__text {
    font-weight: 600;
    font-size: 21.39px;
    line-height: 1.09;

    color: #333333;
  }
}
.logo__img {
  width: 46px;
  height: 27px;
}
