.hero {
  padding: 106px 0 88px 0;
  background-color: #0c1523;
  @include min-width('medium') {
    padding: 106px 0 70px 0;
  }
  @include min-width('large') {
    padding: 135px 0 135px 0;
  }
}

.hero__title {
  margin-bottom: 21px;
  @include font(19px, 600, 28px);
  color: $primary-white-color;
  @include min-width('medium') {
    @include font(30px, 800, 43px);
  }
  @include min-width('large') {
    margin-bottom: 26px;
    width: 660px;
    @include font(40px, 800, 52px);
  }
}

.hero__descr {
  margin-bottom: 93px;
  @include font(16px, 300, 24px);
  color: $primary-white-color;
  @include min-width('medium') {
    line-height: 30px;
    @include font(20px, 300, 30px);
  }
  @include min-width('large') {
    margin-bottom: 76px;
    width: 500px;
    @include font(24px, 300, 32px);
  }
}

.button-switch {
  display: flex;
  align-items: center;
}

.button-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 160px;
  height: 38px;
  border-radius: 72px;
  padding-left: 4px;

  @include min-width('medium') {
    width: 220px;
    height: 52px;
  }
  @include min-width('large') {
    width: 260px;
    height: 60px;
  }
}

.button-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.button-switch__text {
  position: absolute;
  z-index: 2;
  top: 7px;
  left: 54px;
  @include font(14px, 600, 25px);
  color: $primary-white-color;

  @include min-width('medium') {
    @include font(20px, 600, 35px);
    top: 9px;
    left: 68px;
  }
  @include min-width('medium') {

    top: 14px;
    left: 74px;
  }
}

.button-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.button-switch__marker {
  position: absolute;
  top: -4;
  left: -4px;
  z-index: 3;
  pointer-events: none;
  @include flex-center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $primary-white-color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform $main-duration $timing-function;

  @include min-width('medium') {
    width: 60px;
    height: 60px;
  }
}

.button-switch__icon {
  @include min-width('large') {
    width: 24px;
    height: 24px;
  }
}

.button-switch__toggle:checked + .button-switch__track {
  background-color: #d3d3d4;
}

.button-switch__toggle:checked + .button-switch__track > .button-switch__text {
  display: none;
}

.button-switch__toggle:checked ~ .button-switch__marker {
  transform: translateX(122px);

  @include min-width('medium') {
    transform: translateX(165px);
  }
  @include min-width('large') {
    transform: translateX(206px);
  }
}

.button-switch__toggle:focus + .button-switch__track,
.button-switch__toggle:active + .button-switch__track {
  box-shadow: 0 0 0 3px #076a89;
}
