.hero {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 1400px;
  height: 600px;
  background: url(../images/deckstope/hero_bg1@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
  &__container {
    position: relative;
    left: 100px;
  }
  &__gradient1 {
    background-image: linear-gradient(to right, rgba(0, 24, 53, 0.8), rgba(0, 29, 64, 0));

    position: absolute;
    height: 600px;
    width: 870px;
  }
  &__gradient2 {
    background-image: linear-gradient(90deg, rgba(0, 24, 53, 0.6) 0%, rgba(0, 29, 64, 0) 100%);
    position: absolute;
    height: 600px;
    width: 990px;
  }
  &__title {
    margin-top: 135px;
    width: 950px;
    text-align: left;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.2;
    color: $primary-white-color;
  }
  &__description {
    margin-top: 26px;
    width: 500px;
    text-align: left;

    font-weight: 300;
    font-size: 24px;
    line-height: 1.3;
    /* or 133% */

    color: $primary-white-color;
  }
  &__button-wrapper {
    display: flex;
    margin-top: 76px;
    align-items: center;
  }
  &__circle {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: $primary-white-color;
    border-radius: 100px;
    transition: width $main-duration $timing-function;
  }
  &__button {
    cursor: pointer;

    position: absolute;
    height: 52px;
    width: 220px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    &:hover .hero__circle {
      width: 220px;
    }
  }
  &__button-description {
    text-align: left;
    margin-left: 67px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.75;
    /* identical to box height, or 175% */

    color: $primary-white-color;
  }
}
