.offers {
  padding-top: 40px;
  padding-bottom: 67px;
  @include min-width('medium') {
    padding-top: 48px;
    padding-bottom: 83px;
  }
  @include min-width('large') {
    padding-top: 85px;
    padding-bottom: 110px;
  }
}
.offers-title {
  color: #303030;
  text-align: center;
  margin-bottom: 32px;
  @include font(20px, 800, 52px);

  @include min-width('medium') {
    margin-bottom: 48px;
    @include font(30px, 800, 52px);
  }
  @include min-width('large') {
    margin-bottom: 78px;
    @include font(40px, 800, 52px);
  }
}
.offers-subtitle {
  color: #000000;
  margin-bottom: 35px;
  text-transform: uppercase;
  @include font(18px, 400, 29px);

  @include min-width('medium') {
    margin-bottom: 20px;
    @include font(24px, 400, 37px);
  }
  @include min-width('large') {
    @include font(30px, 400, 37px);
  }
}
.offers-text {
  color: #000000;
  margin-bottom: 50px;
  @include font(16px, 400, 26px);
}
.wrapper-offers-img {
  margin-bottom: 15px;
  width: 300px;
  height: 200px;
  margin-bottom: 50px;
  @include min-width('medium') {
    margin-bottom: 48px;
    width: 620px;
    height: 432px;
  }
  @include min-width('large') {
    margin-bottom: 0px;
    width: 560px;
    height: 391px;
    margin-bottom: 0px;
    margin-right: 40px;
  }
}

.wrapper-offers-img-reverse {
  @include min-width('large') {
    margin-right: 0px;
    margin-left: 40px;
  }
}
.offers-item:not(:last-child) {
  margin-bottom: 47px;
  @include min-width('medium') {
    margin-bottom: 80px;
  }
}
.offers-btn {
  @include font(14px, 600, 35px);
  padding: 2px 18px;
}
.offers-item {
  @include min-width('large') {
    display: flex;
  }
}
.offers-img {
  margin-bottom: 50px;
  @include min-width('large') {
    width: 560px;
    height: 391px;
    margin-bottom: 0px;
    margin-right: 40px;
  }
}
.reverse-side {
  @include min-width('large') {
    flex-direction: row-reverse;
  }
}

// =============Button-hover================

.offers-btn {
  position: relative;
}
.offers-btn:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: 1;
  border-radius: 100px;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;

  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offers-btn:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.offers-btn:active {
  top: 2px;
}
