<section class="hero section">
  <div class="hero__gradient2">
    <div class="hero__gradient1">
      <div class="hero__container container">
        <h1 class="hero__title">Розвезення співробітників <br />та персоналу оренда автобусів</h1>
        <p class="hero__description">Ваш персонал буде на робочому місці завжди вчасно!</p>
        <div class="hero__button-wrapper">
          <div class="hero__circle">
            <svg class="hero__svg-arrow" width="24" height="24">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </div>
          <button class="hero__button"><p class="hero__button-description">Детальніше</p></button>
        </div>
      </div>
    </div>
  </div>
</section>
