<section class="section offers">
  <div class="container container__offers">
    <h2 class="title offers__title">Наші послуги</h2>
    <ul class="offers-list list">
      <li class="offers-list__item">
        <picture>
          <source
            srcset="./images/deckstope/offer1.jpg 1x, ./images/deckstope/offer1@2x.jpg 2x"
            media="(min-width:1400px)"
          />

          <!-- <source
            srcset="./images/tablet/offer1.jpg 1x, ./images/tablet/offer1@2x.jpg 2x"
            media="(min-width:768px)"
          />

          <source
            srcset="./images/mobile/offer1.jpg 1x, ./images/mobile/offer1@2x.jpg 2x"
            media="(max-width:767px)"
          /> -->
          <img
            src="./images/deckstope/offer1@2x.jpg"
            alt="Автобус passenger 9 мест белого цвета салон "
            width="560"
            height="391"
          />
        </picture>
        <div class="offers-list__info">
          <h3 class="offers-list__title">РОЗВЕЗЕННЯ ПЕРСОНАЛУ І СПІВРОБІТНИКІВ</h3>
          <p class="offers-list__description">
            Ця послуга підходить для тих компаній, які знаходяться за межею міста і не всі
            працівники можуть доїхати туди громадським транспортом. Звернувшись до нашої компанії,
            Ви зможете орендувати автобус у будь-який час і немає потреби утримувати власний
            автопарк. Вам не доведеться турбуватися про стан транспорту, про водіїв та про безліч
            інших факторів. Надайте це професіоналам!
          </p>
          <button class="order-btn offers-list__button" type="button">Замовити дзвінок</button>
        </div>
      </li>
      <li class="offers-list__item">
        <div class="offers-list__info offers-list__info--left">
          <h3 class="offers-list__title">ПОЇЗДКИ ПО МІСТУ І УКРАЇНІ</h3>
          <p class="offers-list__description">
            Компанія «АЛІРА-ТРАНС» допоможе швидко та якісно організувати поїздки до будь-якої точки
            України. Для цього існує послуга оренди автобуса Україною, при цьому недорого з водієм.
            Всі транспортні засоби регулярно проходять технічний огляд та можуть забезпечити надійне
            транспортування навіть найменших пасажирів. Автобуси відповідають європейським
            стандартам якості та безпеки.
          </p>
          <button class="order-btn offers-list__button" type="button">Замовити дзвінок</button>
        </div>
        <picture>
          <source
            srcset="./images/deckstope/offer2.jpg 1x, ./images/deckstope/offer1@2x.jpg 2x"
            media="(min-width:1400px)"
          />

          <!-- <source
            srcset="./images/tablet/offer1.jpg 1x, ./images/tablet/offer1@2x.jpg 2x"
            media="(min-width:768px)"
          />

          <source
            srcset="./images/mobile/offer1.jpg 1x, ./images/mobile/offer1@2x.jpg 2x"
            media="(max-width:767px)"
          /> -->
          <img
            src="./images/deckstope/offer2@2x.jpg"
            alt="Автобус wolksvagen 12 мест "
            width="560"
            height="391"
          />
        </picture>
      </li>
      <li class="offers-list__item">
        <picture>
          <source
            srcset="./images/deckstope/offer3.jpg 1x, ./images/deckstope/offer3@2x.jpg 2x"
            media="(min-width:1400px)"
          />
          <!-- 
          <source
            srcset="./images/tablet/offer1.jpg 1x, ./images/tablet/offer1@2x.jpg 2x"
            media="(min-width:768px)"
          />

          <source
            srcset="./images/mobile/offer1.jpg 1x, ./images/mobile/offer1@2x.jpg 2x"
            media="(max-width:767px)"
          /> -->
          <img
            src="./images/deckstope/offer3@2x.jpg"
            alt="Автобус wolksvagen 12 мест "
            width="560"
            height="391"
          />
        </picture>
        <div class="offers-list__info">
          <h3 class="offers-list__title">оренда автобуса з водієм</h3>
          <p class="offers-list__description">
            Замовлення транспорту в нашій компанії забезпечить вам надійне та оперативне перевезення
            по Києву та Україні. Крім цього, оренда автобуса з водієм позбавить ваших гостей від
            безлічі незручностей, наприклад, відсутності місця для паркування особистого транспорту.
          </p>
          <button class="order-btn offers-list__button" type="button">Замовити дзвінок</button>
        </div>
      </li>
    </ul>
  </div>
</section>
